# Java Object Files #
#####################
*.class

# Project Files #
#################
*.jcp
*.jcu
*.jcw

# Backup Files #
################
*~
*.swp
*.swo
\#*#

# AFS files #
#############
.__afs*

